.center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
input{
    padding: 10px 10px;
    width: 300px;
    margin: 20px 0;
}
select{
    padding: 2px 10px;
}